@media screen and (max-width: 1536px){
    .previous, .next{
        width: 3.75rem;
        height: 3.75rem;
    }
    #chevron_left, #chevron_right, .grid-logo > [class^=lg]{
        width: 2.5rem;
        height: 2.5rem;
    }
    .page .big{
        font-size: 3.0rem;
    }
    .page h2.medium{
        font-size: 2.15rem;
    }
    .page h2{
        font-size: 1.313rem;
    }
    .page h3{
        font-size: 1.188rem;
    }
    .page h4{
        font-size: 1.125rem;
    }
    .page p, .page li{
        font-size: 1.063rem;
    }
    .page p,.page h3, .page h4{
        margin-block-start: 0.6rem;
        margin-block-end: 0.6rem;
    }
    .page .text{
        font-size: 1.3rem;
    }
    .page .img-profile{
        width: 12rem;
        height: 12rem;
    }
    .page a.medium{
        font-size: 1.8rem;
    }

}
@media screen and (max-width: 1220px){
    .page h2{
        font-size: 1.1rem;
    }
    .page h2.height{
        height: initial;
    }
    .page h3{
        font-size: 0.92rem;
    }
    .page h4{
        font-size: 0.87rem;
    }
    .page p, .page li{
        font-size: 0.85rem;
    }
    .page p, .page h3, .page h4{
        margin-block-start: 0.3rem;
        margin-block-end: 0.3rem;
    }
}

@media screen and (max-width: 768px){
    body{
        overflow: scroll;
        min-height: unset;
        background: unset;
        min-width: fit-content;
        margin: 0 auto;
    }
    .cover, .front.back-face, .cover-back{
        display: none;
    }
    .around{
        box-shadow: unset;
    }
    .height{
        height: unset;
    }
    .color-2{
        background-color: unset;
    }
    .container-content{
        padding: unset;
    }

    .back.front-face{
        color: black;
    }
    article:nth-child(2) .back{
        display: none;
    }
    .previous,.next{
        display: none;
    }
    .cv-container{
        all: initial;
    }
    .book{
        all: initial;
    }
    .page{
        all: initial;
    }
    .page.hide{
        display: unset;
    }
    .page h2{
        font-size: 0.938rem;
        text-align: left;
        text-wrap: balance;
    }
    .page h3,.page h4, .page p{
        margin-block-start: 0.375rem;
        margin-block-end: 0.375rem;
        font-size: 0.813rem;
        text-align: left;
    }
    .page p, .page li{
        font-size: 0.75rem;
        text-align: left;
    }
    .page div .height.color-2{
        background-color: unset;
    }
    .front, .back{
        background: unset;
        padding: 0;
    }
    .page .profile{
        min-height: unset;
        padding-block-start: 0.6rem;
        padding-block-end: 0.6rem;
    }
    .page .img-profile{
        width: 5rem;
        height: 5rem;
    }
    .page a.medium{
        font-size: 1rem;
    }
    .top-bottom-left-radius, .top-bottom-right-radius{
        border-radius: unset;
    }

}

@media(scripting: none), print, screen and (min-width: 769px) and (max-width: 1219px) {
    body{
        min-height: unset;
        overflow-y: scroll;
        background-repeat: repeat-y;
        background-size: contain;
    }
    .previous, .next, .cover, article:nth-child(2) .back{
        display: none;
    }
    .cv-container{
        display: block;
        width: 70vw;
        height: initial;
        padding: 1rem 0;
    }
    .front.back-face{
        display: block;
        margin: 0 auto;
    }
    .front.back-face, .back.front-face, .cover-back .front, .back{
        border-radius: unset;
        width: 100%;
    }
    .back.front-face{
        color: black;
        height: auto;
    }
    .top-bottom-left-radius, .top-bottom-right-radius{
        border-radius: unset;
    }
    .page .container-content{
        padding: 0;
    }
    .page h2{
        font-size: 1.375rem;
    }
    .page .height{
        height: initial;
    }
    .page .color-2{
        background-color: unset;
    }
    .page .around{
        box-shadow: unset;
    }
    .page h3{
        font-size: 1.25rem;
    }
    .page h4{
        font-size: 19px;
    }
    .page p, .page li{
        font-size: 1.188rem;
    }
    .page p, .page h3, .page h4{
        margin-block-start: 0.9rem;
        margin-block-end: 0.9rem;
    }
    .page,.book{
        all:unset;
    }
    .front, .back{
        background: rgba(255, 255 , 255, 0.75);
    }
    .cover-back{
        display: none;
    }
    .img-profile{
        width: 10rem;
        height: 10rem;
    }
}
@media print{
    body{
        min-height: unset;
        overflow: unset;
        background: white;
    }

    ul:last-child li:last-child{
        break-after: page;
        page-break-after: always;
    }
    .cover, .cover-back, button{
        display: none;
    }

    .page.hide{
        display: unset;
    }
    .front, .back{
        background: white;
    }

    .around{
        box-shadow: unset;
    }

}

@container container-book (max-height: 800px){
    .page div.height{
        height: 4.5rem;
    }
    .page h2{
        font-size: 1.1rem;
    }
    .page h3{
        margin: 0;
        font-size: 1.0rem;
    }
    .page h4{
        font-size: 0.90rem;
    }
    .page p, .page li{
        font-size: 0.938rem;
    }
    .page p {
        margin-block-start: 0.4rem;
        margin-block-end: 0.4rem;
    }
    .img-profile{
        width: 5rem;
        height: 5rem;
    }
    .page a.medium, .page button.medium{
        font-size: 1.8rem;
    }
    .container-flex + ul {
        padding: 0 0.4rem;
    }
    .page p.big{
        font-size: 2.4rem;
    }

    .page .text{
        font-size: 1.3rem;
    }

}

@container container-book (max-height: 600px){
    .page h2{
        font-size: 0.9rem;
    }
    .page div.height{
        height: 3.5rem;
    }
    .page h3{
        font-size: 0.813rem;
    }
    .page h4, .page p, .page li{
        font-size: 0.75rem;
    }
    .page .text{
        font-size: 1rem;
    }
    .line{
        width: 0.1rem;
    }
    .page p.big{
        font-size: 1.8rem;
    }

}


